
*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
  body {
    min-height: 100vh;
    background-color: #A8D5E3;
    
  }
  /* h1 section */
  .Header{
     color: rgb(57, 6, 90);
     text-align: center;
     margin: 20px;
  }
/* Table Component */
  .employee{
    color: rgb(12, 12, 12);
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

  }

 .employee td, .employee th {
    border: 1px solid #03092b;
    padding: 20px;
    text-align: center;
  }

  .employee th{
    background-color: rgb(7, 236, 217);
   
  }

  /* Sudo Class */
  .employee tr:nth-child(even){
    background-color: antiquewhite;
  }

  .employee tr:hover{
    background-color: aliceblue;
  }